[Desktop Entry]
Version=1.0
Type=Link
Name=fingerprint_detection.m
Comment=
Icon=user-bookmarks
URL=https://github.com/foyaz66/Fingerprint-Detection-Using-MATLAB/blob/main/fingerprint_detection.m
