[Desktop Entry]
Version=1.0
Type=Link
Name=Fingerprint-Confirmed.jpg
Comment=
Icon=user-bookmarks
URL=https://github.com/foyaz66/Fingerprint-Detection-Using-MATLAB/blob/main/Fingerprint-Confirmed.jpg
